.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.note{
    font-size: 13.5px;
    color: rgb(4, 0, 253);
    background-color: white;
    border-radius: 15px;
    padding: 5px;
    margin: 9px;
    box-shadow: grey;
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: gray;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid rgb( 4, 7, 231);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}